.seasidetmsButton {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.seasidetmsButton:before {
  content: "\e84b"; /* Unicode for the book icon */
  font-family: "fontello"; /* Make sure "fontello" font is imported */
  font-size: 1.2em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.seasidetmsButton:hover {
  background-color: #c0392b;
}
