@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
}

body {
  position: relative; /* Create a positioning context for absolute positioning */

  font-family:
    "Cormorant Garamond", Arial, Helvetica, "Nimbus Sans L", sans-serif !important;
  min-height: 100vh;
}
