@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
}

body {
  font-family:
    "Cormorant Garamond", Arial, Helvetica, "Nimbus Sans L", sans-serif !important;
}
