@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Marck+Script:wght@400;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-family: "Cormorant Garamond", Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
}

h1.custom-title {
  font-family: "Marck Script", cursive;
  font-size: 2.5rem;
  color: white;
}
